:root {
	--color--primary: #4cbea6;
	--color--primary-light-1: #dae0e0;
	--color--primary-light-2: #35393b;
	--color--primary-light-3: #545b5e;
	--color--primary-dark-1: #545b5e;
	--color--primary-dark-2: #f2f3f3;
	--color--primary-dark-3: #dae0e0;
	/*  */
	--color--primary-back: #f5f8fa;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	/* height: 100vh; */
	/* background-color: rebeccapurple; */
}

