:root {
	--color--primary: #4cbea6;
	--color--primary-light-bg: #efeef1;
	--color--primary-light-sbg: #f5f8fa;
	--color--primary-light-tc: #35393b;
	--color--primary-light-ibg: #dae0e0;
	/* dark */
	--color--primary-dark-bg: #35393b;
	--color--primary-dark-sbg: #545b5e;
	--color--primary-dark-tc: #f2f3f3;
	--color--primary-dark-ibg: #35393b;
	/*  */
	--get-1: #1d2636;
	--color--primary-back: #f5f8fa;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.6;
}
