# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# development data
src/dev_data/API/*
src/dev_data/DB/*
src/dev_data/cheat_sheet/*
src/dev_data/test/*

# dependencies
src/node_modules

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
