.div1 {
	position: absolute;
	width: 100%;
	height: 200px;
	color: red;
	background-color: rgb(12, 10, 10);
}
.div2 {
	width: 100%;
	height: 200px;
	color: rgb(136, 255, 0);
	background-color: rgb(75, 23, 23);
}
