body{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}

/* header */
.header{
    background-color:#4CBEA6;
}
.header h1 {
    margin: 0px;
    padding: 21.44px 0px;
    padding-left: 5%;
}


/* grid  */
.grid-container{

    display: grid;
    grid-template-columns: 25% 75%;
    /* background-color: saddlebrown; */
}


/* .sidebar  */
.sidebar{

    padding: 0px;
    margin-right: 0%;

}

.profile{

    width: 100%;
    height: 230px;
    position: relative;
    padding: 0px;
    background-color: #F5F8FA;
    box-sizing: border-box;
}

.profile-img{

    width: 30%;
    height: 90px;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 35%;
    background-color: #4CBEA6;
    border-radius: 50%;
    clear: both;
}

.profile h3{
    text-align: center;
    margin: 0px;
    position: absolute;
    top: 160px;
    left: 25%;
}


ul li .main-list{

    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding-top: 3%;
    padding-left: 20%;
    margin-top: 5px;
    background-color: #F5F8FA;
}

.sub-list li{

    width: 100%;
    height: 50px;
    color: black;
    font-size: 20px;
    padding-top: 3%;
    padding-left:  30%;
    background-color: #F5F8FA;
    margin-top: 5px;
}

/* main content  */
.main-content{

    margin-left: 5%;
    padding: 30px 0px;
}

.content-header{

    width: 90%;
    padding: 30px 3%;
    background-color: #F5F8FA;
    border-radius: 10px;
}



.content-header .search-bar{

    width: 60%;
    height: 45px;
    display: inline-flex;
}

.content-header .search-bar span{

    width: 30%;
    height: 100%;
    margin-right: 2%;
    text-align: center;
   
    font-size: 160%;
    background-color: lightgray;
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box;

}

.content-header .search-bar input{

    width: 68%;
    height: 100%;
    background-color: lightgray;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.content-header .icon{

    width: 7%;
    height: 50px;
    float: right;
    display: inline-flex;
    background-color: darkcyan;
    border-radius: 50%;
}


.content-books{

    width: 90%;
    margin-top: 30px;
    padding: 20px 3% 5px 3%;
    background-color: #F5F8FA;
    border-radius: 10px;    
}

.book-list{

    width: 90%;
    margin-top: 5px;
    padding: 20px 3% 10px 3%;
    background-color: #F5F8FA;
    border-radius: 10px; 
    overflow-x: auto;
}

table{
    width: 80%;
    border-collapse: collapse;
}

th,td{

    text-align: center;
    height: 50px;
    border-bottom: 3px solid lightgray;
    box-sizing: border-box;
}

td p{
    
    width: 50px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 5px;

}